<center> <h1> Application Programming Interface </h> </center> 
<center> <h2> Classroom Activity 2 </h> </center> 
<center> <h3> Crime API </h> </center> 
<center> <h4> Carolina Garma Escoffi√© </h> </center>

The Hoyodecrimen REST API (https://hoyodecrimen.com/api/) allows to query crime data about Mexico City. 

Complete the following tasks:

* Obtain a **list** of all crime types in the Database.
* Obtain all quadrants in the Database and store them into a table with the following columns:
    * cuadrante
    * cve_mun
    * municipio
    * sector
* Create a function to obtain all the crimes within a certain distance given the geographic coordinates of a point (lat/lon). Create a table locating the crimes near to the Zocalo (19.433735, -99.133334):
    * crime
    * date
    * hour
    * lat
    * lon
* Obtain the top ranked quadrants the highest crime counts in 2016, 2017, 2018. Create a unique table including:
    * year
    * crime
    * quadrant
    * difference
    * population
    * rank
* Obtain a table with the count of crimes that occurred in all sectors in 2016, 2017 and 2018. The table must include:
    * year
    * crime
    * count
    * crime
    * cuadrante
    * sector

## 1) Crime types list

In [1]:
import pandas as pd
import json
import requests

In [2]:
def get_crimes():
    """
    Return a list of all crime types in the database
    ---------------
    Input:
        <None>
    ----------
    Output:
        <list> List of dict in the form {'crime': 'TYPE'} for each crime type
    ----------
    """
    
    endpoint_url='https://hoyodecrimen.com/api/v1/crimes'
    
    res = requests.get(endpoint_url) #Get the information
    
    res.content #Read it as an object
    
    results=json.loads(res.content) #Convert the object into a dict
    
    results=results['rows'] # Enter to the target section
    
    return results #Return a list of dict

In [3]:
crime_list=get_crimes()
crime_list

[{'crime': 'HOMICIDIO DOLOSO'},
 {'crime': 'LESIONES POR ARMA DE FUEGO'},
 {'crime': 'ROBO A BORDO DE METRO C.V.'},
 {'crime': 'ROBO A BORDO DE METRO S.V.'},
 {'crime': 'ROBO A BORDO DE MICROBUS C.V.'},
 {'crime': 'ROBO A BORDO DE MICROBUS S.V.'},
 {'crime': 'ROBO A BORDO DE TAXI C.V.'},
 {'crime': 'ROBO A CASA HABITACION C.V.'},
 {'crime': 'ROBO A CUENTAHABIENTE C.V.'},
 {'crime': 'ROBO A NEGOCIO C.V.'},
 {'crime': 'ROBO A REPARTIDOR C.V.'},
 {'crime': 'ROBO A REPARTIDOR S.V.'},
 {'crime': 'ROBO A TRANSEUNTE C.V.'},
 {'crime': 'ROBO A TRANSEUNTE S.V.'},
 {'crime': 'ROBO A TRANSPORTISTA C.V.'},
 {'crime': 'ROBO A TRANSPORTISTA S.V.'},
 {'crime': 'ROBO DE VEHICULO AUTOMOTOR C.V.'},
 {'crime': 'ROBO DE VEHICULO AUTOMOTOR S.V.'},
 {'crime': 'SECUESTRO'},
 {'crime': 'VIOLACION'}]

In [4]:
print(type(crime_list))
print(type(crime_list[0]))

<class 'list'>
<class 'dict'>

## 2) Obtain Quadrants

In [5]:
def obtain_quadrants():
    """
    Enumerate all the cuadrantes and the sectors and municipios they belong to
    ---------------
    Input:
        <None>
    ----------
    Output:
        <list> Returns a list of dicts with the CUADRANTE, CVE_NUM, MUNICIPIO and SECTOR.
    ----------
    """
    
    endpoint_url='https://hoyodecrimen.com/api/v1/cuadrantes'
    
    res = requests.get(endpoint_url) #Get the information
    
    res.content #Read it as an object
    
    results=json.loads(res.content) #Convert the object into a dict
    
    results=results['rows'] # Target section 
    
    return results #Return a list of dictionaries

In [6]:
quadrants=obtain_quadrants() # Make a request

In [7]:
quadrants[0] # Print the first element of the list (first row)

{'cuadrante': 'P-1.1.1',
 'cve_mun': '9010',
 'municipio': 'ALVARO OBREGON',
 'sector': 'ALPES'}

In [8]:
quadrants_table=pd.read_json(json.dumps(quadrants), orient='records') # Convert the list into a DataFrame

In [9]:
quadrants_table.head() #Print the head

  cuadrante  cve_mun       municipio sector
0   P-1.1.1     9010  ALVARO OBREGON  ALPES
1  P-1.1.10     9010  ALVARO OBREGON  ALPES
2   P-1.1.2     9010  ALVARO OBREGON  ALPES
3   P-1.1.3     9010  ALVARO OBREGON  ALPES
4   P-1.1.4     9010  ALVARO OBREGON  ALPES

## 3) Crimes by distance and location (lat/lon)

Create a function to obtain all the crimes within a certain distance given the geographic coordinates of a point (lat/lon). Create a table locating the crimes near to the Zocalo (19.433735, -99.133334):
crime
date
hour
lat
lon

In [10]:
def crimes_by_distance():
    """
    Given a latitude and longitude return all crimes within a certain distance during the last 12 months
    ---------------
    Input:
        <None>
    ----------
    Output:
        <list> Returns a list of dicts with the CRIME TYPE, CRIME DATE, CRIME HOUR, LAT and LONG.
    ----------
    """
    endpoint_url='https://hoyodecrimen.com/api/v1/latlong/crimes/all/coords/-99.133334/19.433735/distance/500'
    
    res = requests.get(endpoint_url) #Get the information
    
    res.content #Read it as an object
    
    results=json.loads(res.content) #Convert the object into a dict
    
    results=results['rows'] # Target section
    
    return results #Return a list of dictionaries

In [11]:
nearby_crimes = crimes_by_distance() # Make the request

In [12]:
nearby_crimes[0] # Print the first element of the list (first row)

{'crime': 'VIOLACION',
 'date': '2019-08-08',
 'hour': '20:20',
 'lat': 19.4348943972022,
 'long': -99.1319456996602}

In [13]:
nearby_crimes = pd.read_json(json.dumps(nearby_crimes), orient='records') #Convert into a DataFrame

In [14]:
nearby_crimes.head() # Print the head

       crime       date   hour        lat       long
0  VIOLACION 2019-08-08  20:20  19.434894 -99.131946
1  VIOLACION 2019-07-28  08:00  19.433981 -99.136270
2  VIOLACION 2019-02-18  07:30  19.433498 -99.131219
3  VIOLACION 2019-02-09  03:00  19.436161 -99.137314
4  VIOLACION 2019-01-12  21:00  19.436161 -99.137314

## 4) Top Ranked quadrants

Obtain the top ranked quadrants the highest crime counts in 2016, 2017, 2018. Create a unique table including:
year
crime
quadrant
difference
population
rank

In [15]:
def top_ranked_quadrants_counts(start,end):
    """
    Return the top ranked cuadrantes with the highest crime counts for a given period of time.
    ---------------
    Input:
        <string>
            'start' : start date of the period in the form: %Y-%m (e.g. 2016-01)
            'end' : end date of the period in the form: %Y-%m (e.g. 2016-12)
    ----------
    Output:
        <list> 
            Returns a list of dicts with the CRIME COUNT, CRIME TYPE, CRIME DATE, CUADRANTE, START PERIOD,
            END PERIOD, POPULATION, SECTOR and RANK.
    ----------
    """
    
    endpoint_url='https://hoyodecrimen.com/api/v1/cuadrantes/crimes/all/top/counts'
    
    parameters = {
        'start_date' : start,
        'end_date' : end
    }
    
    res = requests.get(endpoint_url, params=parameters) #Get the information by passing the parameters
    
    res.content #Read it as an object
    
    results=json.loads(res.content) #Convert the object into a dict
    
    results=results['rows']
    
    return results #Return a list of dictionaries

In [16]:
# Make three requests (one for each year)
lista2016=top_ranked_quadrants_counts('2016-01','2016-12')
lista2017=top_ranked_quadrants_counts('2017-01','2017-12')
lista2018=top_ranked_quadrants_counts('2018-01','2018-12')

In [17]:
lista_total=lista2016+lista2017+lista2018 # Make a list with the three anual lists

In [18]:
lista_total[0] # Print the firs element (first row)

{'count': 153,
 'crime': 'HOMICIDIO DOLOSO',
 'cuadrante': '(NO ESPECIFICADO)',
 'end_period': '2016-12',
 'population': None,
 'rank': 1,
 'sector': 'NO ESPECIFICADO',
 'start_period': '2016-01'}

In [19]:
tabla=pd.read_json(json.dumps(lista_total), orient='records') # Convert into a DataFrame

In [20]:
tabla['year']=tabla['start_period'].astype(str).str.slice(start=0, stop=4) # Create a new column for the year

In [21]:
tabla=tabla[['crime', 'cuadrante','population', 'rank','year']] # Keep the specified columns (except difference)

In [22]:
tabla.head() # Print the head

              crime          cuadrante  population  rank  year
0  HOMICIDIO DOLOSO  (NO ESPECIFICADO)         NaN     1  2016
1  HOMICIDIO DOLOSO           N-1.3.12     17795.0     2  2016
2  HOMICIDIO DOLOSO            P-1.2.6     45966.0     3  2016
3  HOMICIDIO DOLOSO            C-2.3.2     12649.0     4  2016
4  HOMICIDIO DOLOSO           N-1.1.20     16797.0     4  2016

## 5) Crime count sectors and quadrants

Obtain a table with the count of crimes that occurred in all sectors in 2016, 2017 and 2018. The table must include:
year
crime
count
crime
cuadrante
sector

In [23]:
def count_crimes_cuadrants_sectors(start, end):
    """
    Return the sum of crimes that occurred in each cuadrante for a specified period of time
    ---------------
    Input:
        <string>
            'start' : start date of the period in the form: %Y-%m (e.g. 2016-01)
            'end' : end date of the period in the form: %Y-%m (e.g. 2016-12)
    ----------
    Output:
        <list> 
            Returns a list of dicts with the CRIME COUNT, CRIME TYPE, CRIME DATE, CUADRANTE, START PERIOD,
            END PERIOD, POPULATION and SECTOR.
    ----------
    """
    
    endpoint_url='https://hoyodecrimen.com/api/v1/cuadrantes/all/crimes/all/period'
    
    parameters = {
        'start_date' : start,
        'end_date' : end
    }
    
    res = requests.get(endpoint_url, params=parameters) #Get the information by passing the parameters
    
    res.content #Read it as an object
    
    results=json.loads(res.content) #Convert the object into a dict
    
    results=results['rows'] # Target section
    
    return results #Return a list of dictionaries

In [24]:
# Make three requests (one for each year)
cuadrante2016=count_crimes_cuadrants_sectors('2016-01', '2016-12')
cuadrante2017=count_crimes_cuadrants_sectors('2017-01', '2017-12')
cuadrante2018=count_crimes_cuadrants_sectors('2018-01', '2018-12')

In [25]:
cuadrantes_total=cuadrante2016+cuadrante2017+cuadrante2018 # Add to a unique list the three anual lists

In [26]:
cuadrantes_total[0] # Print the first element of the unique list (first row)

{'count': 0,
 'crime': 'HOMICIDIO DOLOSO',
 'cuadrante': 'C-1.1.1',
 'end_date': '2016-12',
 'population': 36,
 'sector': 'REVOLUCION-ALAMEDA',
 'start_date': '2016-01'}

In [27]:
tabla_cuadrantes=pd.read_json(json.dumps(cuadrantes_total), orient='records') # Convert into a DataFrame

In [28]:
tabla_cuadrantes['year']=tabla_cuadrantes['start_date'].astype(str).str.slice(start=0, stop=4) # Create a new column for the year

In [29]:
tabla_cuadrantes=tabla_cuadrantes[['count','crime', 'cuadrante','sector','year']] # Keep the specified columns

In [30]:
tabla_cuadrantes.head() # Print head

   count             crime cuadrante              sector  year
0      0  HOMICIDIO DOLOSO   C-1.1.1  REVOLUCION-ALAMEDA  2016
1      0  HOMICIDIO DOLOSO   C-1.1.2     CORREDOR-CENTRO  2016
2      0  HOMICIDIO DOLOSO   C-1.1.3     CORREDOR-CENTRO  2016
3      0  HOMICIDIO DOLOSO   C-1.1.4    MIXCALCO-HERALDO  2016
4      0  HOMICIDIO DOLOSO   C-1.1.6  REVOLUCION-ALAMEDA  2016