<center> <h1> Application Programming Interface </h> </center> 
<center> <h2> Classroom Activity 1 </h> </center> 
<center> <h3> Data Preprocessing </h> </center>

**Open Notify** ([Web Page](http://open-notify.org/)) is an open source project to provide a simple programming interface for some of NASA’s data.

In [2]:
import requests
import json
import pandas as pd

a. Create the function named *astro_now*() to obtain data of the astraonauts in the space using the method [Number of People in Space](http://open-notify.org/Open-Notify-API/People-In-Space) using the following python libraries:
* [requests](https://2.python-requests.org/en/master/)
* [json](https://docs.python.org/3/library/json.html)
    
The function must return the obtained json file as a python dictionary.

In [48]:
def astro_now():
    """
    Function that makes an API request to get a json file from 'http://api.open-notify.org/astros.json' 
    ------------------
    Input: <none>
    -------------------
    Output: <dict>
        Returns a dictionary including the current number of people in space. 
        When known it also returns the names and spacecraft those people are on.
    """
    endpoint_url='http://api.open-notify.org/astros.json'

    res = requests.get(endpoint_url) #Get the information
    
    res.content #Read it as an object
    
    results=json.loads(res.content) #Convert the object into a dict
    
    return results #Return a dictionary

#API request
astronauts_json = astro_now()

type(astronauts_json)

dict

In [49]:
astronauts_json

{'message': 'success',
 'people': [{'name': 'Alexey Ovchinin', 'craft': 'ISS'},
  {'name': 'Nick Hague', 'craft': 'ISS'},
  {'name': 'Christina Koch', 'craft': 'ISS'},
  {'name': 'Alexander Skvortsov', 'craft': 'ISS'},
  {'name': 'Luca Parmitano', 'craft': 'ISS'},
  {'name': 'Andrew Morgan', 'craft': 'ISS'}],
 'number': 6}

b. Use the json obtained to create a table with the following columns:
* craft
* astronaut name

In [51]:
# Complete task b here
astronauts_dt=pd.read_json(json.dumps(astronauts_json['people']), orient='records') #parsing according to a 'records' structure, json.dumps() to convert the dict into a json
astronauts_dt

  craft                 name
0   ISS      Alexey Ovchinin
1   ISS           Nick Hague
2   ISS       Christina Koch
3   ISS  Alexander Skvortsov
4   ISS       Luca Parmitano
5   ISS        Andrew Morgan

c. Create the function named *iss_currentlocation*() to obtain the position of the International Space Station using the method [Current Location of the International Space Station](http://open-notify.org/Open-Notify-API/ISS-Location-Now/).
    
The function must return the numeric value of the latitud and longitud as a tuple, e.g. (20.0,120.0)

In [52]:
# Complete task c here
def iss_currentlocation():
    """
    Function that obtains the position of the International Space Station 
    using the an API request from a json file 'http://api.open-notify.org/iss-now.json'
    ---------------------
    Input: <none>
    -------------------------------
    Output: <float tuple>
        Returns the numeric value of the latitud and longitud as a tuple.
    """
    endpoint_url='http://api.open-notify.org/iss-now.json'

    res = requests.get(endpoint_url) #Get the information
    
    res.content #Get the file as object
    
    results=json.loads(res.content) #Load the json file as dict
    
    results=results['iss_position'] #Take the key were lat and lon are
    
    lon=float(results['longitude']) #Assign longitude to a float variable
    
    lat=float(results['latitude'])  #Assign latitudee to a float variable
    
    return lon, lat #As tuple

#API request
location_json = iss_currentlocation()
location_json #print tuple

(135.9893, -34.8116)

d. Use your *iss_currentlocation()* function to obtain the position of the International Space Station each 10 seconds during 5 minutes. Show the results in a table with the following columns:
* timestamp (Parsed Correctly)
* latitude
* longitude

The [Time](https://docs.python.org/3/library/time.html) Python library could be useful.

In [54]:
# Complete task d here
def iss_timestamp():
    """Get the timestamp data from the API url 'http://api.open-notify.org/iss-now.json
    This functions returns a parsed timestamp data from that request
    ---------------------------
    Input:
        <None>
    ---------------------------
    Output: 
        <int>
        Timestamp data (unix).
    """
    endpoint_url = 'http://api.open-notify.org/iss-now.json' #URL of the json file
    
    res = requests.get(endpoint_url) #Get the file (object)
    
    results = json.loads(res.content) #Load the object as a dict
    
    timestamp = results['timestamp'] #select timestamp info
    
    return timestamp

timestamp=iss_timestamp()
timestamp

1568872325

In [55]:
#Function that generates the table
def iss_location_10():
    """
    This function makes a dataframe using the information returned from the two functions:
    iss_timestamp() and iss_currentlocation() every 10 seconds for 5 minutes long to get lat, lon and timestamp
    --------------------------
    Input: 
        <None>
    --------------------------
    Output: 
        <DataFrame>
        A data frame with the lat, long, and timestamp for each request.
    """
    import time # import an useful library for manipulating time (seconds)
    
    data = [] # open an empty list
    
    seconds = 0 # seconds counter
    
    while seconds < 300: # For 5 minutes
        
        location = iss_currentlocation() # Getting the (lon, lat) tuple by calling the function 'iss_currentlocation()'
        
        timestamp = iss_timestamp() # Getting the timestamp  by calling the function 'iss_timestamp()' --> (lon, lat)
        
        data.append([timestamp, location[1], location[0]]) # Append the items to the list in this order: [timestamp, lat, lon]
        
        df = pd.DataFrame(data, columns=['timestamp','latitude','longitude']) #creating the data frame
        
        time.sleep(10) #to make it run every 10 sec
        
        seconds += 10 #to make it to the 5 min
        
    df['timestamp'] = pd.to_datetime(df['timestamp'],unit='s') #changing the unix format of the timestamp to a friendly one
    
    return df 

df = iss_location_10() #Calling the function
df

             timestamp  latitude  longitude
0  2019-09-19 05:55:40  -19.5395   151.6707
1  2019-09-19 05:55:50  -19.0274   152.0999
2  2019-09-19 05:56:01  -18.5141   152.5262
3  2019-09-19 05:56:11  -17.9996   152.9497
4  2019-09-19 05:56:21  -17.4840   153.3705
5  2019-09-19 05:56:32  -16.9673   153.7887
6  2019-09-19 05:56:43  -16.4494   154.2045
7  2019-09-19 05:56:53  -15.9554   154.5981
8  2019-09-19 05:57:04  -15.4357   155.0090
9  2019-09-19 05:57:14  -14.9151   155.4177
10 2019-09-19 05:57:25  -14.3935   155.8243
11 2019-09-19 05:57:35  -13.8709   156.2289
12 2019-09-19 05:57:46  -13.3226   156.6505
13 2019-09-19 05:57:56  -12.7985   157.0510
14 2019-09-19 05:58:07  -12.2986   157.4307
15 2019-09-19 05:58:17  -11.7730   157.8277
16 2019-09-19 05:58:28  -11.2467   158.2230
17 2019-09-19 05:58:38  -10.7197   158.6167
18 2019-09-19 05:58:48  -10.1921   159.0089
19 2019-09-19 05:58:59   -9.6639   159.3997
20 2019-09-19 05:59:09   -9.1352   159.7892
21 2019-09-19 05:59:20   -8.6059   160.1773
22 2019-09-19 05:59:30   -8.1014   160.5459
23 2019-09-19 05:59:41   -7.5711   160.9319
24 2019-09-19 05:59:52   -7.0404   161.3167
25 2019-09-19 06:00:02   -6.5093   161.7006
26 2019-09-19 06:00:12   -5.9778   162.0837
27 2019-09-19 06:00:23   -5.4460   162.4659
28 2019-09-19 06:00:33   -4.9138   162.8474
29 2019-09-19 06:00:44   -4.3814   163.2281

e. The International Space Station is an orbital outpost circling high above out heads. Sometimes it’s overhead, but when? It depends on your location. Given a location on Earth (latitude, longitude, and altitude) the [International Space Station Pass Times](http://open-notify.org/Open-Notify-API/ISS-Location-Now/) API compute the next n number of times that the ISS will be overhead.

The function must return the obtained json file as a python dictionary.

In [56]:
def iss_passtimes (latitude, longitude, altitude = None, number = None):
    """
    This function makes an API request to compute the next n number of times that the 
    ISS will be overhead, and transform it to a dictionary.
    ---------------------------------------
    Input: 
        <float>
        
        latitude: of the location desired.
        
        longitude: of the location desired.
        
        altitude: Not necessary
        
        <int>
        
        number: Not necessary
    --------------------------------------
    Output: 
        <dict>
        A dictionary with the information.
    """
    
    endpoint_url = 'http://api.open-notify.org/iss-pass.json' # URL of the json file
    
    parameters = {
        'lat' : latitude, 
        'lon' : longitude,
        'alt' : altitude, 
        'n' : number
    }
    
    res = requests.get(endpoint_url, params = parameters) #Get the data aplying the designed parameters
    
    results = json.loads(res.content) # Load the object as a dict
    
    return results

iss_merida = iss_passtimes(20.967780, -89.624250, altitude = None, number = None) #Evaluate for this coordinate
iss_merida

{'message': 'success',
 'request': {'altitude': 100,
  'datetime': 1568870525,
  'latitude': 20.96778,
  'longitude': -89.62425,
  'passes': 5},
 'response': [{'duration': 384, 'risetime': 1568880402},
  {'duration': 649, 'risetime': 1568886097},
  {'duration': 350, 'risetime': 1568892024},
  {'duration': 575, 'risetime': 1568934221},
  {'duration': 597, 'risetime': 1568940005}]}

f. Write the *url request* to obtaing the same result as in task e.

url = http://api.open-notify.org/iss-pass.json?lat=20.967780&lon=-89.624250

g. Create a table with the following columns:
* latitude
* longitude
* risetime (parse correctly)
* duration

In [57]:
# Complete task g here

#Make a merida dataframe for the response which includes duration and risetime
merida_df = pd.read_json(json.dumps(iss_merida ['response']), orient = 'record') 
print(merida_df.dtypes)
merida_df

duration    int64
risetime    int64
dtype: object

   duration    risetime
0       384  1568880402
1       649  1568886097
2       350  1568892024
3       575  1568934221
4       597  1568940005

In [58]:
merida_df['latitude'] = iss_merida['request']['latitude'] #Creating a column for latitude using the request info

merida_df['longitude'] = iss_merida['request']['longitude'] #Creating a column for longitude using the request info

merida_df['risetime'] = pd.to_datetime(merida_df['risetime'],unit='s') #Creating a column for risetime in date format

merida_df

   duration            risetime  latitude  longitude
0       384 2019-09-19 08:06:42  20.96778  -89.62425
1       649 2019-09-19 09:41:37  20.96778  -89.62425
2       350 2019-09-19 11:20:24  20.96778  -89.62425
3       575 2019-09-19 23:03:41  20.96778  -89.62425
4       597 2019-09-20 00:40:05  20.96778  -89.62425

In [59]:
cols = ['latitude', 'longitude', 'risetime','duration'] #Re-order cols
merida_df=merida_df[cols]
merida_df

   latitude  longitude            risetime  duration
0  20.96778  -89.62425 2019-09-19 08:06:42       384
1  20.96778  -89.62425 2019-09-19 09:41:37       649
2  20.96778  -89.62425 2019-09-19 11:20:24       350
3  20.96778  -89.62425 2019-09-19 23:03:41       575
4  20.96778  -89.62425 2019-09-20 00:40:05       597

## Checklist

| Task | Points |
|:----:|:------:|
|   a  |   15   |
|   b  |   15   |
|   c  |   15   |
|   d  |   15   |
|   e  |   15   |
|   f  |   10   |
|   g  |   15   |

* **Important!** Partial credit can be obteined in each task.
* Don not forget to document your functions! [Here](http://google.github.io/styleguide/pyguide.html) is the Python Programming Styleguide from Google. [Section 3.8](http://google.github.io/styleguide/pyguide.html#38-comments-and-docstrings) is about Comments and Docstrings.

## Carolina Garma Escoffié